body{
    background-color: #7DA2C8;
    border: 3px solid;
}

header{
    height: 90px;
    background-color: #9D9FA1;
    text-align: center;
}

.head{
    font-size: 60px;
    display: inline-block;
    margin: auto;
}

h1{
    margin: auto;
    display: inline-block;
    margin-top: 0px;
}

section{
    background-color: #9D9FA1;
    margin-top: 2px;
    padding: auto;
    height: 500px;
}

input{
    background-color: #9D9FA1;
    font-size: 18px;
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    margin: auto 10px;
}

button{
    background-color: #508AC5;
    font-size: 18px;
    box-sizing: border-box;
    width: 98px;
    height: 50px;
    margin-right: 10px;
}

#container{
    margin: 10px;
    border: 2px solid;
    height: 85%;
    overflow-y: auto;
}

footer{
    margin-top: 2px;
    height: 50px;
    text-align: center;
    background-color: #9D9FA1;
    font-size: 17px;

}

.foot{
    display: inline-block;
    margin: 12px;
}

a{
    text-decoration: none;
}

#map{
    margin: 10px;
    height: 300px;
    border: 1px solid;
}

#adress{
    min-height: 20px;
    background-color: pink;
    margin: 10px 10px 10px 100px;
    border: 1px solid;
}

#wiki{
    min-height: 20px;
    background-color: pink;
    margin: 10px 10px 10px 100px;
    border: 1px solid;
}

#input_value{
    background-color: pink;
    margin: 10px 100px 10px 10px;
    border: 1px solid;
    height: 20px;
}


