body{
    background-color: #008080;
    margin: 0px;
}

header{
    margin: 10px;
    color: #DCDCDC;
    text-align: center;
}

footer{
    margin: 0px 10px;
    height: 52px;
    text-align: center;
    color: #DCDCDC;
    font-size: 17px;
    font-weight: bold;
}

section{
    height: 475px;
}

.zone{
    height: 40px;
    margin: 0px 10px;
}

button{
    background-color: #6495ED;
    font-size: 18px;
    width: 100px;
    height: 40px;
    float: right;
    outline: none;
}

#spinner{
    height: 38px;
    width: 38px;
    border-radius: 45px;
    float: right;
    display: none;
    margin-right: 5px;
}

input{
    background-color: #DCDCDC;
    font-size: 18px;
    height: 34px;
    width: 70%;
    outline: none;
}

#container{
    margin: 10px;
    height: 86%;
    overflow-y: auto;
}

a{
    text-decoration: none;
}

#href{
    color: #6495ED
}

#map{
    margin: 10px;
    height: 300px;
}

#adress{
    display: table;
    background-color: #48D1CC;
    margin: 60px 10px 10px 10px;
    padding: 5px;
}

#wiki{
    background-color: #48D1CC;
    margin: 10px;
    padding: 5px;
}

#input_value{
    display: table;
    float: right;
    background-color: #00FA9A;
    margin: 10px 10px 0px 10px;
    min-height: 18px;
    min-width: 20px;
    padding: 5px;
    overflow-wrap: break-word;
}

header, footer, #container, input, button, #input_value, #adress, #wiki, #map{
    border: 1px solid black;
    border-radius: 5px;
}

@media screen and (min-width: 450px) and (max-width: 600px){

    header{
        font-size: 12px;
    }

    footer{
        margin-top: 30px;
    }

    input{
        font-size: 15px;
        height: 34px;
    }

    button{
        font-size: 15px;
        height: 40px;
        width: 70px;
    }

    #container{
        height: 92%;
    }
}

@media screen and (min-width: 285px) and (max-width: 450px){
    header{
        font-size: 7px;
        padding: 5px;
    }

    footer{
        margin-top: 40px;
        font-size: 14px;
        padding-top: 7px;
    }

    input{
        font-size: 12px;
        height: 30px;
        width: 60%;
    }

    #img{
        height: 30px;
        width: 30px
    }

    button{
        font-size: 10px;
        height: 36px;
        width: 50px;
    }

    #container{
        height: 95%;
    }
}
