body{
    background-color: #696969;
    border: 3px solid;
    margin: 0px;
}

header{
    margin: 10px;
    background-color: #9D9FA1;
    text-align: center;
    border: 2px solid;
}

footer{
    margin: 0px 10px 10px 10px;
    height: 52px;
    text-align: center;
    background-color: #9D9FA1;
    font-size: 17px;
    border: 2px solid;
}

section{
    background-color: #696969;
    height: 475px;
}

.zone{
    height: 40px;
    margin: 0px 10px;
}

button{
    background-color: #508AC5;
    font-size: 18px;
    width: 100px;
    height: 40px;
    float: right;
    border: 2px solid;
}

#spinner{
    height: 38px;
    width: 38px;
    border: 2px solid;
    border-radius: 45px;
    float: right;
    display: none;
    margin-right: 5px;
}

input{
    background-color: #9D9FA1;
    font-size: 18px;
    height: 34px;
    border: 2px solid;
    width: 70%;
    outline: none;
}

#container{
    background-color: #9D9FA1;
    margin: 10px;
    border: 2px solid;
    height: 85%;
    overflow-y: auto;
}

a{
    text-decoration: none;
}

#map{
    margin: 10px;
    height: 300px;
    border: 1px solid;
}

#adress, #wiki{
    background-color: #48D1CC;
    margin: 10px 200px 10px 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

#input_value{
    overflow-wrap: break-word;
    background-color: #00FA9A;
    margin: 10px 10px 10px 200px;
    border: 1px solid;
    border-radius: 5px;
    min-height: 18px;
    padding: 5px;
}

@media screen and (min-width: 450px) and (max-width: 600px){

    header{
        font-size: 12px;
    }

    input{
        font-size: 15px;
        height: 34px;
    }

    button{
        font-size: 15px;
        height: 40px;
        width: 70px;
    }
}
@media screen and (min-width: 285px) and (max-width: 450px){
    header{
        font-size: 8px;
    }

    footer{
        font-size: 12px;
    }

    input{
        font-size: 12px;
        height: 30px;
        width: 60%;
    }

    #img{
        height: 30px;
        width: 30px
    }

    button{
        font-size: 10px;
        height: 36px;
        width: 50px;
    }
}