<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
            <title>GrandpyBot</title>
        </head>
        <body>
            <header>
                <h1>GrandPy Bot 👴 Le papy qui sait tout!</h1>
            </header>
            <section>
                <div class="zone"><!-- will contain the searching menu -->
                    <input id="input" type="text" name="question" placeholder="Pose ta question">
                    <button id="button" type="submit">Envoyer</button>
                    <img id="spinner" src="static/img/spinner.gif" alt="spinner">
                </div>
                <div id="container"><!-- will contain all answers and google'smap --></div>
            </section>
            <footer>
                <p class="foot">Copyright 2020 - Gonzalez Tony - Projet 7
                    <a id="href" href="https://github.com/Tony380/Projet7" target="blank">GitHub</a>
                </p>
            </footer>
            <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['API_KEY'] }}"></script>
        </body>
    </html>
